fastapi
uvicorn[standard]
python-multipart
pillow
numpy==1.26.4
sqlalchemy>=2.0
psycopg2-binary
python-dotenv
regex
ftfy
tqdm
packaging
boto3

faiss-cpu==1.8.0
torch==2.2.2
# torchvision optional:
# torchvision==0.17.2

clip-anytorch

pgvector==0.4.1

psycopg2-binary>=2.9.9
