fastapi
uvicorn[standard]
python-multipart
pillow
numpy>=1.24
sqlalchemy>=2.0
psycopg2-binary
python-dotenv
regex
ftfy
tqdm

# Vektorsuche & ML (CPU)
faiss-cpu==1.8.0
torch==2.2.2
# torchvision optional – nur falls du es brauchst
# torchvision==0.17.2

# CLIP (als PyPI-Paket, kein Git notwendig)
clip-anytorch

